@CHARSET "ISO-8859-1";
.form-1 {
    /* Size & position */
   
    position: relative; /* For the submit button positioning */

    /* Styles */
   
   
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: -1px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid #f47753;
  box-shadow:0 -1px 2px #f47753;

    /* Styles */
    color: #f47753;
    text-align: center;
    line-height: 42px;
  /*  transition: all 0.3s ease-out;*/
    pointer-events: none;
    background-color:#fde2db;
}


.form-1 input[type=text],
.form-1 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
   /* text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;
   box-shadow:0 -1px 2px #f47753;
    /* Styles */
    /*border: none; /* Remove the default border */
   /* box-shadow: 
        inset 0 0 5px #f47753,
        inset 0 3px 2px #f47753;*/
    border-radius: 3px;
    background-color: #ffffff;
    color: #777;
    transition: color 0.3s ease-out;
}