@CHARSET "ISO-8859-1";


.eventcontainer .createevent
{
	background:#dfdfdf;
	padding-top:20px;
	width:100%;
	min-height:120px;
		border-radius: 5px;
    
    height:auto;
    overflow:auto;  
    
	
}



.eventcontainer
{
	position: relative;
    top: 20%;
    left: 10%;
   	text-align:center;
    width:80%;
	min-height:20%;
	margin-top:25px;
	
   height:auto;
    overflow:auto;  
      }
      
      

     
      
.eventcontainer .eventlistcontainer
{
	width:100%;
	min-height:100%;
		border-radius: 5px;
  height:auto;
    overflow:auto; 
}


.heading{
	 float:left;
	font-style: sans-serif;
     font-size:25px;
     font-weight:bold;
     color:rgb(46, 54, 63);
}

.thead
{
	text-align:center;
	background-color: rgb(150, 154, 159);
 
  height: 38px;
  z-index: 84;
	  font-size: 14px;
  font-style: sans-serif;
  color: rgb(255, 255, 255);
	
}

.eventcontainer table, th, td {
    
   
     font-style:  sans-serif;
 
}

 .row{
   background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
 
}


.eventcontainer table
{
	
border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 0.38);
  	
}
.eventcontainer tr
{
	border-bottom: 1px solid rgb(230, 230, 230);
min-height: 50px;
   height:auto;
    overflow:auto;  
 

}
.eventcontainer tr:hover {
           background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
   background-color:#ffd2d2;

    }
    
.eventcontainer  tr:active {
             background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);


    }

.eventname
{
	  font-size: 14px;
   font-style: sans-serif;;
  color: rgb(240, 90, 40);
  font-weight: bold;
  text-align:left;
  padding-left:10px;
	
}

.eventname div
{
	color:black;
}

.eventInfoText {
  font-size: 13.333px;
 font-style: sans-serif;
  color: rgb(41, 47, 56);
}
.noInvites {
  font-size: 13.333px;
  font-style: sans-serif;
  color: rgb(150, 154, 159);
  font-style: italic;
 
}

#icon
{
	margin-left:15px;
	  font-size: 16.667px;
	  font-family:FontAwesome; color: rgb(41, 47, 56); text-align: center;
}




.linkDisabled {
  cursor: none;
  pointer-events: none;
  
}

.linkenable{
	
	 cursor: pointer;
  pointer-events: auto;
}

#grad1 {
    height: 500px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffd27f, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffd27f, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffd27f, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffd27f, white); /* Standard syntax (must be last) */
}