@CHARSET "ISO-8859-1";

html, body {
	min-height: 100%;
	
}

body {
	color:#585858 !important;
	background-color: rgb(244, 245, 246) !important; 
	  font-style: sans-serif;
	font-size:14px; line-height:23px;
	margin:0; padding:0 !important;
	position:relative;
	height:auto;
	 
}


/*-----header-----------*/
header#topNav.topHead {
	top:0px;
}
 header#topNav.topHead {
	top:0px;
}
 header#topNav div.nav-main-collapse {
	margin-top:16px;
	
}
 header#topNav nav ul.nav-main {
	margin: -7px 0 8px 0;
	
}

header#topNav div.nav-main-collapse {
	margin-top:16px;
	
}
#myli{
	
	font-size: 14px;
  font-style: sans-serif;
  color: rgb(41, 47, 56);
  font-weight: normal;
  line-height: 2.4;
	
}
.container_header{
	margin-left:10%;margin-right:10%;
}
 
  #myli1:hover{
   background-color:#ffd2d2;
   
   }
   #myli2:hover{
   background-color:#ffd2d2;
   border-radius:5px;
   }
    #myli:hover{
  background-color:#f1f1f1;
   color:rgb(41, 47, 56);
   border-bottom: 5px solid rgb(240, 90, 40); 
   }
   #topnavheader{
   margin-right:5%;
   }
   #userli{
  font-size: 14px;
  font-family: "FontAwesome";
  color: rgb(41, 47, 56);
     
   background-color:#ffffff; border-radius: 50%; border: 1px solid;
   padding-left:5px;
   margin-left:-10px;
   padding-bottom:2px;
   
   
   }
   #arrowup{
    margin-top:-10px;    margin-left: 15%;
    }


#myli #current
{
	 background-color:#f1f1f1;
   color:rgb(41, 47, 56);
   border-bottom: 5px solid rgb(240, 90, 40); 
}


/*------------------------ footer--------------------------------*/
footer
{
	position: fixed;
	bottom: 0px;
	 width:100%;
	text-align:center;
	margin-top:20%; 
	 /*padding-bottom:10px;
	 padding-top:10px;*/
	 
	  color:#cdcdcd;
	
	  background-color: rgb(46, 54, 63);
  height: 50px;
	
	/*overflow:hidden;*/
	
}
.copyright {
	font-size: 10.5px;
 font-family: sans-serif;
  color: rgba(251, 251, 251, 0.502);
  line-height: 1.2;
		padding-top:20px;
	display:inline-block;
	margin-left:-100px;
	
	
}

.footerleft div  
{
	float:left;
	padding-top:15px;
	/*padding:0,20px,0,0;*/
	margin-right:15px;
	
}

.footerleft div a
{
	text-decoration:none;
	color:#cdcdcd;
}

.socialIcons {
  opacity: 0.502;
}

.navbar-text > a {
	  
  font-family: "Socialico";
	
	color: rgb(251, 251, 251); 
	text-decoration: none;
	padding-left:15px;
	  line-height: 1.2;
	    -moz-transform: matrix( 0.63361847828844,0,0,0.63361847828844,0,0);
  -webkit-transform: matrix( 0.63361847828844,0,0,0.63361847828844,0,0);
  -ms-transform: matrix( 0.63361847828844,0,0,0.63361847828844,0,0);
	  
}

.navbar-text > a:hover {color: #ffffff;}


.footerleft div a
{
	text-decoration:none;
	  font-size: 12.5px;
  font-style: sans-serif;
  color: rgba(251, 251, 251, 0.502);
  line-height: 1.2;

}

.footerleft div a:hover {color: #ffffff;}

/************************************ top navigations*****************************************/
ul.topnav {
    list-style-type: none;

    margin: 0px;
    padding: 0px;
    height:50px;
  
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
   
     font-size: 16px;
  font-style: sans-serif;
  color: rgb(46, 54, 63);
  font-weight: bold;
  line-height: 1.2;
     
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
   
   
}

/* Change background color of links on hover */
ul.topnav li a:hover {color: #000000;}

/********************************header**********************************/

.logincontainer h1 {
  font-size: 16px;
  font-style: sans-serif;
  color: rgb(46, 54, 63);
  line-height: 1.2;
  -moz-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
  -webkit-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
  -ms-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
}



.logincontainer h2 {
  font-size: 9px;
  font-style: sans-serif;
  color: rgb(46, 54, 63);
  line-height: 1.2;
  -moz-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
  -webkit-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
  -ms-transform: matrix( 2.28279995918274,0,0,2.2828,0,0);
  }

.header {
	background-color:white; width:100%;height:10%;position:realative;
}


/***********************************gray out all the screen**************************/

.overlay 
  {
 
  position : absolute;
   
    width : 100%;
    min-height : 100%;
   
 
 
    background:rgba(255,255,255,0.5); 
    
   
    z-index: 9999999;
}



#popup1 .popup,
#popup2 .popup,
 #popup3 .popup{
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  min-height:12% auto;
  
  position: absolute;
 top: 20%;
      font-style:  sans-serif;
    left: 35%;
  transition: all 5s ease-in-out;
  text-align:center;
  box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 0.38);
}

#popup1 .popup h2 ,
#popup2 .popup h2,
 #popup3 .popup h2{
  margin-top: 0;
 
  font-style:  sans-serif;
}

#popup1 .popup .close:hover,
#popup2 .popup .close:hover,
#popup3 .popup .close:hover

 {
  color: #000000;
}
#popup1 .popup .content,
#popup2 .popup .content,
#popup3 .popup .content
 {
  min-height: 100%;
  
}

@media screen and (max-width: 700px){

 #popup1 .popup ,
  #popup2 .popup
 {
    width: 70%;
  }
  
  

/*********************************dimscreen*************************/

