@CHARSET "ISO-8859-1";

 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*** basic styles ***/


.form-1 label { font-size: 18px; }


/*** custom checkboxes ***/

.form-1 input[type=checkbox] {
  border:1px solid #000000;
  
  display:none; } /* to hide the checkbox itself */
.form-1 input[type=checkbox] + label:before {

  color:#f47753;
  font-family: FontAwesome;
  display: inline-block;
}

.form-1 input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.form-1 input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.form-1 input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.form-1 input[type=checkbox]:checked + label:before { letter-spacing: 10px; } /* allow space for check mark */



/**********************************login and sign in************************/

.logincontainer img
{
	width:90%;
	height:10%;
}
.logincontainer
{
	position: absolute;
    top: 10%;
    left: 35%;
   	background-color: rgb(244, 245, 246);
    text-align:center;
    width:25%;
       
}

.logincontainer .maincontainer
{
		background-color: #ffffff;
		height:100%;
		width:100%;
		
		border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 0.38);
                  
		
}



.logincontainer .remindercontainer
{
		background-color: #ffffff;
		height:100%;
		width:100%;
		border-radius:5px;
		position:absolute;
		padding-right:20px;
		padding-top:20px;		
}



.logincontainer .maincontainer p{
	font-size:20px;
	  font-family: "Open Sans";
	font-weight:bold;
	
	color:black;
	
	
}



.logincontainer div.login_button
{
text-align: center;
position:relative;
}

/*.logincontainer div#customBtn{
 width:60%; 
 height:50px;
 background-size: 100% 100%;
  margin-left:20%;
   border:none;
margin-top:10px"
	}
	*/
.logincontainer #gSignInWrapper div#customBtn {
    height:42px;
   background-color: #0075ea;
   border-radius:5px;
   text-align:center;
     font-family: "Open Sans";
   font-size:15px;
   color:white;
   padding-top:10px;
    text-shadow:0px 0.5px black;
    position:relative;
     
    }
    .logincontainer #gSignInWrapper div#customBtn:hover {
      cursor: pointer;
    }
    .logincontainer div#customBtn img{
    background-color:white;
    position:absolute;
    height:42px;
    left:0;
    top:0;
    width:40px;
    border:1px solid #0075ea;
    border-radius:5px;
    }

.logincontainer div.login_button .field1 input{

	cursor:pointer;
	background-color: #f47753;
	width:80%;
	height:20px;
	text-align: center;
	
	border-radius: 2px;
    color:#ffffff;
    text-shadow:0px 0.5px black;
	border: none;
	  font-family: Open Sans;    font-size: 15px; font-weight:bold;   border-radius: 0;	
		
		padding: 10px 5px 10px 5px;	
	border: 1px solid #F1592A;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
		
}






.logincontainer .maincontainer form p input
{
	background-color: rgba(244,245,247,0.9);
	width:70%;
	height:30px;
	text-align: left;
	border-radius: 2px;
}

.logincontainer .maincontainer form .link a 
{
	font-size:15px;
	  font-family: "Open Sans";
	color:black;
	
}

.g-recaptcha {
	position:relative;
    transform:scale(0.87);
    transform-origin:0 0;
}

.form-1 {
   
    position: relative; /* For the submit button positioning */

    /* Styles */
   }

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 .field i {
    /* Size and position */
    left: 30px;
    top: 3px;
    position: absolute;
    height: 28px;
    width: 36px;
  verticle-align:middle;
    /* Line */
    border: 1px solid #f47753;
 

    /* Styles */
  
    text-align: center;
    
  /*  transition: all 0.3s ease-out;*/
    pointer-events: none;
    background-color:#fde2db;
  font-size: 16px;
  font-family: "FontAwesome";
  color: rgb(244, 150, 122);
  line-height: 25px;
  



}

.form-1 .field1 #submit {
    /* Size and position */
   
    position: absolute;
    height: 30px;
    width: 30px;
   top: 22px;
    /* Line */
    
 

    /* Styles */
    color: #cf390e;
    text-align: center;
    line-height: 1px;
  /*  transition: all 0.3s ease-out;*/
    pointer-events: none;
 
   font-size: 16.667px;
  font-family: "FontAwesome";
  
 
 
    
}





.form-1 .field input[type=text],
.form-1 .field input[type=password]
{
     font-size: 14px;
  font-family: "Open Sans";
  color: rgb(41, 47, 56);
  line-height: 1.2;

    
      /* text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 80%;
    padding: 10px 18px 10px 45px;
  /*box-shadow:0 -1px 2px #400040;
    /* Styles */
    border:1px solid rgb(240, 90, 40); /* Remove the default border */
   /* box-shadow: 
         0 0 5px #f47753,
         0 3px 2px #f47753;*/
    border-radius: 3px;
    background-color: #ffffff;
    color: #f47753;
    transition: color 0.3s ease-out;
    text-align:left;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75),inset 0px 1px 0px 0px rgba(0, 0, 0, 0);
      height: 28px;
}





.form-1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 font-size: 14px;
  font-family: "Open Sans";
  color: rgba(240, 90, 40, 0.502);
  line-height: 1.2;
  
}

.form-1 ::-moz-placeholder { /* Firefox 19+ */
   font-size: 14px;
  font-family: "Open Sans";
  color: rgba(240, 90, 40, 0.502);
  line-height: 1.2;

  
}
.form-1 :-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
  font-family: "Open Sans";
  color: rgba(240, 90, 40, 0.502);
  line-height: 1.2;

}
.form-1 :-moz-placeholder { /* Firefox 18- */
   font-size: 14px;
  font-family: "Open Sans";
  color: rgba(240, 90, 40, 0.502);
  line-height: 1.2;

}

/**************************************profile******************************************************/

.logincontainer .maincontainer .profilecontainer .userinputtext
{
	 font-family: Open Sans;font-size:20px;font-weight:bold;color:rgb(41, 47, 56);
}

.logincontainer .maincontainer .profilecontainer .userinputtext .datatext
{
    font-size: 14px;
  font-family: "Open Sans";
  color: rgb(41, 47, 56);
  line-height: 1.2;

    width: 60%;
    padding: 10px 18px 10px 5px;
    border:1px solid rgb(240, 90, 40); /* Remove the default border */
    border-radius: 3px;
    background-color: #ffffff;
    color: #f47753;
    transition: color 0.3s ease-out;
    text-align:left;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75),inset 0px 1px 0px 0px rgba(0, 0, 0, 0);
      height: 28px;
      margin-left:20px;
}

.logincontainer .maincontainer .profilecontainer div.calendar
{
	display:inline_block;
  border:1px solid #e0e0e0;
	width:100%;height:20%;background:#f9f9f9;margin-left:10px;margin-top:50px;"
}

.profilecontainer label { font-size: 18px; }


/*** custom checkboxes ***/

.profilecontainer input[type=checkbox] {
  border:1px solid #000000;
  
  display:none; } /* to hide the checkbox itself */
.profilecontainer input[type=checkbox] + label:before {

  color:#f47753;
  font-family: FontAwesome;
  display: inline-block;
}

.profilecontainer input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
.profilecontainer input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

.profilecontainer input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
.profilecontainer input[type=checkbox]:checked + label:before { letter-spacing: 10px; } /* allow space for check mark */

