@CHARSET "UTF-8";

.logincontainer .remindercontainer
{
	border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(176, 176, 176, 0.38);
	
}



.logincontainer .remindercontainer ul.reminderlist 
{
	list-style-type:none;
	position:relative;
	font-style: sans-serif;
    font-weight:bold;
	color:black;
	font-size:17px;
	
}


.logincontainer .remindercontainer div ul.reminderlist li div.reminderdiv
{
	font-size:15px;display:inline;
	width:20px;
	font-weight:normal;
	position:relative;
	
}

.logincontainer .remindercontainer div ul.reminderlist li div.reminderdiv select,
.logincontainer .remindercontainer div ul.reminderlist li div.reminderdiv input

{
	
	border:1px solid rgb(240, 90, 40);
}

.overlay-arrow {
    font-size: 9px;
    color:  rgb(240, 90, 40);
    position: absolute;
    
    right: 0px;
    top : 8px;
    cursor: default;
    line-height: 1px;

}

/************************************switch**************************************/
.onoffswitch {
    position: relative; width: 67px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #EBE6E6; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 14px; color: white; font-family:  sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #FCFCFC; color: #49B019;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    padding-left: 2px;
    background-color: #FCFCFC; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 3px;
    height:17px;
    background: #A1A1A1;
    position: relative; top: 0; bottom: 0;
   
    border: 2px solid #EBE6E6; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    margin-left: 40px;
    background-color: #49B019; 
}

/*****************************save cancel button************************************/
#save
{
	
	position:relative ;
	border:none;
	 border-radius:5px;
	  margin-left:15%;
	  background: #63bc87;
	    height:40px;width:80px;
	    font-weight:bold; 
	    color:white;
	    font-size:15px;
	    background: rgb(99, 188, 135); 
	
}



#cancel
{
	 position:relative;
	 border:none; 
	 border-radius:5px;
	  margin-left:5%;
	   height:40px;width:80px;
	    	background: #999;
	    	font-weight:bold;
	    	 color:white;
	    	 font-size:15px;
	
}



#auth
{
	position:relative ;
	border:none;
	 border-radius:5px;
	  
	  background: #63bc87;
	    height:40px;width:80px;
	    font-weight:bold; 
	    color:white;
	    font-size:15px;
	    background: rgb(99, 188, 135); 
	
}



/*************************dimscreen**************************/
.dim 
  {
 
  position : fixed;
   
    width : 100%;
    min-height : 100%;
   
   
    top:0;left:0;
 
    background:rgba(0,0,0,0.2); 
    
   
    z-index: 9999999;
}

.policy
{
	position:fixed; top:0;left:0; width : 100%;
    min-height : 100%;overflow:auto;
  
 
}

