 <link rel="stylesheet" href="assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="assets/css/font-awesome.css"> 
 <link rel="stylesheet" href="assets/css/layout.css"> 
 <link rel="stylesheet" href="assets/css/newcss/footer-page.css">
 <link rel="stylesheet" href="assets/css/newcss/event.css">
 
 <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="assets/js/moment.js"></script>
	  <script type="text/javascript" src="assets/js/combodate.js"></script>
<link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.min.css" />
<link rel="stylesheet" href="assets/css/bootstrap1.css">



<header  style="padding:0" id="topNav" class="topHead" ><!-- remove class="topHead" if no topHead used! -->
			<div id="header_containder" class="container_header">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" href="/#">
					<img src="assets/images/logotop.png" alt="Mneme" style="height:50px;" />
				</a>

				<!-- Top Nav -->
				<div  class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul style="background-color:#ffffff"  class="nav nav-pills nav-main scroll-menu" id="topMain">
							
				<li id="myli"   class="dropdown" ng-class="homeActive"><a id="current" href="#/event"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Events</b>
				</a></li>
				<li id="myli" class="dropdown" ng-class="homeActive"><a id="Homelink" href="#/channels"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Channels</b>
				</a></li>
				<li id="myli" class="dropdown" ng-class="homeActive"><a id="Homelink" href="#/reminder"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Reminders</b>
				</a></li>
				<li id="myli" class="dropdown mega-menu-item mega-menu-two-columns" ng-class="whatActive" id="Reminderlink"><a class="dropdown-toggle" ng-click="menuClick('what')"> <b id="Remlink">
					<img src="assets/images/icon_profile.png" style="width:25px;height:25px;margin-right:10px;"width="20px" height="20px"/>{{username}}
					
				</a>
						</b>
					
       <ul style="  min-width:120px; font-size:16px; padding-top:0px;  border: 1px solid;  border-radius:2px;border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;   border-color: black;    box-sizing: content-box;  background-color: white;" class="dropdown-menu" role="menu" aria-labelledby="menu1">
     <div id="arrowup" class="arrow up"></div>
      <li id="myli1" role="presentation"><a role="menuitem" tabindex="-1" href="#/user"><i class="fa fa-cog" aria-hidden="true"></i> Profile Settings</a></li>
      <li id="myli2" role="presentation"  ng-class="signupActive"><a role="menuitem" tabindex="-1" style="cursor:pointer" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
				</ul>
				</li></ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		</header>





<div class=container Style="width:1170px;min-height:100%; height:auto;  overflow:auto;  margin-left:5%">


                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                     <div style="    width: 100%;    height: 65px; margin-top:60px;   padding-top: .3%;    "          >
                                <p style="margin-top:15px; font-style:sans-serif;margin-left:11%;    font-size: 30px;  ">Welcome {{username}}!
                                  <input class="login_button" style="padding-top:10px; margin-right:12%;color:white;font-style:sans-serif; height:10%;width:10%;
                                   float: right;  font-size: 15px; font-weight:bold;  border:none; border-radius:4px;  padding-bottom:10px;	background: #f47753; width:17%" ng-model="collapsed" ng-disabled="opened" ng-click="callcollapsed()" id="login_button" type="submit" value="+    Create Events" />
                               </p> </div>
   						
									
									
													
 <div class=eventcontainer>									
									
									  <div  ng-show="collapsed"  >
                  <span class=heading style="margin-bottom:15px">Create a New Event</span>
                   <div class="createevent" >
                        <div class="input_w" style="margin-bottom:0%; margin-top:1%; font-size:20px;" >
<input class="input_12" style="float:left; margin-left:20px;text-align: left;border: 1px solid  #F1592A;border-radius:2px;border-color:#F1592A;margin-top:.5%;	width:25%; font-size:15px;height: 2%;padding-left: 5px; padding-top: 3px;padding-bottom: 3px;" ng-model="Event.eventName" required="required" 	name="remindername"
									ng-required="true"; type="text" placeholder="Event Description" />
							

		
        
        <input  class="input-append date datepicker" id="datepicker1" style="font-family: 'FontAwesome';border-color:#F1592A;margin-top:.5%;border: 1px solid #F1592A;border-radius:2px;float: left;margin-left: 2%;  font-size:15px;height: 2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;	width:10%;" type="text"  datepicker-popup="yyyy-mm-dd"  required a-datepicker ng-model="Event.eventDate" placeholder="Date          &#xf073" ng-disabled> </input>
       
       

						
							
								<!-- <input type="text" style=" font-size:15px;height: 21px;padding-top: 3px;padding-bottom: 3px;" ng-model="event.eventTime" id="time" required="required" data-format="HH:mm" data-template="HH: mm" name="datetime"> -->
						
<select style="  border: 1px solid #F1592A;border-radius:2px; width:60px; font-size: 15px;    height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;"  name="hr_id" ng-model="chour" ng-options="r.hour for r in hours" placeholder='Hr.'><option value="" disabled selected>Hr.</option></select>

<select style="  border: 1px solid #F1592A;border-radius:2px;  width:60px;font-size: 15px;    height: 2%;margin-top:.5%; float:left; margin-left:2%;   padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;"  ng-model="cmin" ng-options="r.min for r in minutes" placeholder="Min."><option value="" disabled selected>Min.</option></select>
<select style="  border: 1px solid #F1592A;border-radius:2px;  font-size: 15px;    height: 2%;margin-top:.5%; float:left; margin-left:2%;   padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;" ng-model="campm" ng-options="currOption for currOption in ['pm']" ><option value=""  selected>am</option></select>
							

                                    <input id=save  style="float:left;width:15%;margin-left:20px; padding-bottom:5px;	padding-top:5px;" ng-click="createevent()" id="login_button" type="submit" value="Create Event" /> 
        
                                    <input id=cancel style="width:15%; margin-left:10px;  padding-bottom:5px;padding-top:5px;"  ng-click="collapsed=!collapsed" id="login_button" type="submit" value="Cancel" /> 
      
							</div>	
                       
                  
                  <div  id="div1">                 
                     <ul style="list-style-type:none ;float:left; width:65%;margin-left:-20px;">
                <li ng-repeat="elemnt in questionelemnt" style="float:left; margin-top:2%;">
  
                    <div style=" margin-top:.5%;">
                        <div id={{elemnt.id}} style="display:inline" >
                            <div class="userinputtext" style="font-size:20px;display:inline;margin-right:0; ">
                            <span>
                            <input class="datatext" style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px;height: 2%; margin-right:0; padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    " ng-model="elemnt.name" name="username"  
									type="text" placeholder="Invitee Name" />
                               <!--  <input style="margin-left:2%;" type="text" ng-model="elemnt.inviteename" placeholder="Invitee Name"  type="text" /> -->
                            </span>
                        </div>
                         <div class="userinputtext" style="font-size:20px;display:inline;margin-left:.5%; margin-right:0;">
                            <span>
                            <input class="datatext" style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px; margin-left:.5%; height: 2%;padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;   padding: 3px 3px 3px 3px;      text-align: left;  " ng-model="elemnt.email"
									type="text" placeholder="Email" />
                               
                            </span>
                        </div>
                         <div class="userinputtext" style="font-size:20px;display:inline;margin-left:.5%;margin-right:0;">
                            <span>
                            <input class="datatext" style=" border: 1px solid #F1592A;border-radius:2px;font-size:15px;height: 2%;padding-top: 3px;padding-bottom: 3px; margin-left:0;width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    " ng-model="elemnt.phone"  
									type="text" placeholder="Phone #" />
                               
                            </span>
                        </div>
                        </div>
                        
                        
                        <span ng-hide="elemnt.length == 1">
                            <a href ng-click="questionelemnt.splice($index, 1)"><img src="assets/images/icon_remove.png" style="width:20px;height:20px;margin-left:10px;"width="20px" height="20px"/></a>
                        </span>
                    </div>
                    
                </li>
              <p style="float:left; color:red; margin-top:1%;"><a style="color:rgb(240, 90, 40) ; font-size:15px" href ng-click="newItemevent($event)"><i class="fa fa-plus-circle" aria-hidden="true" style="color:rgb(240, 90, 40);"></i>  Add invitee</a></p>         
                
            </ul>  
                      </div> 
                        </div>

        
                     </div>

      
                    </div>
              
									
									
 
  <div class=eventcontainer>
  <div class="eventlistcontainer">
  <span class=heading style="margin-bottom:15px">Today's Events</span><span class="badge" style="margin-top:8px;background-color:rgb(240, 90, 40);float:left;font-size:15px; margin-left:10px;">{{BindJsonDetails.events.length}}</span>
   <input  class="login_button" style=" color:white;font-style:sans-serif;  height: 21px; margin-top:10px; font-size: 15px; font-weight:bold;  border:none; border-radius:2px;  	background: #f47753;float:right;margin-right:2%; width:10%;
     background-image: linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -o-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
 
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*text-shadow: 0px -1px 0px rgba(0,0,0,.5);*/
    -webkit-box-shadow: 0px 2px 0px rgb(244, 119, 83);
    -moz-box-shadow: 0px 2px 0px rgb(244, 119, 83);
    box-shadow: 0px 2px 0px rgb(244, 119, 83);
    " ng-click="refresh()" id="login_button" type="submit" value="Refresh" />
  <table style="width:100%;height:100%;position:relative; margin-top:20px"cellpadding="10" >
  <tr >
    <th class=thead Style="text-align:left;border-top-left-radius:7px;width:35%;padding-left:2%">Event Name</th>
    <th class=thead Style="width:10% ">Date</th> 
    <th class=thead Style="width:10%">Time</th>
    <th class=thead Style="width:10%">Type</th>
    <th class=thead Style="width:10%">owner</th>
    <th class=thead Style="width:10%">invitees</th>
    <th class=thead Style="border-top-right-radius:5px;width:20%">Actions</th>
  </tr>
  <tr  style="background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  height: 50px;" ng-repeat="SecondChild in BindJsonDetails.events">
    <td ng-show="noedit" class=eventname ng-click=" invitees = invitees ? false : true" Style="cursor:pointer">{{SecondChild.eventName}}
    
    <div ng-show="invitees">
    Invitees
    <ul Style="list-style-type:none">
    
    <li  ng-repeat="participants in SecondChild.participants" Style="color:gray ;font-weight:normal;margin-left:2px;">
    {{participants.name}}<i class="fa fa-envelope-o" aria-hidden="true" style="color:#f47753;margin-left:5px"></i>
    </li>
    </ul>
    </div>
    
    </td>
    
      </td>
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventDate}}</td> 
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventTime}}</td>
    <td ng-show="noedit" class=eventInfoText><img src="assets/images/eventlogo_mneme.png" ng-if="SecondChild.eventType=='mneme'" height="25px" width="25px"/>
    <img ng-show="noedit" src="assets/images/eventlogo_google.png" ng-if="SecondChild.eventType=='gmail'"  height="20px" width="20px"/></td>
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventOwner}}<i ng-show="SecondChild.eventOwner!='you'" class="fa fa-envelope-o" aria-hidden="true" style="color:#f47753;margin-left:5px"></i></td>
    <td ng-show="noedit"><span ng-show="SecondChild.participants.length" class=eventInfoText>{{SecondChild.participants.length}}</span><span class=noInvites ng-if="SecondChild.participants.length==null">None</span></td>
    <td ng-show="noedit">
    <div ng-show="SecondChild.editable==true">
    <a href   ng-click="noedit=false ; getevent(SecondChild.eventId)"  ng-hide="opened" id="class1"><i class="fa fa-pencil" id=icon aria-hidden="true"></i></a>
    <a href ><i id=icon class="fa fa-files-o" aria-hidden="true"></i></a>
    <a href  ng-click="showinfopop(SecondChild.eventId)" ng-hide="opened"><i id=icon class="fa fa-trash-o" aria-hidden="true"></i></a>
   </div>
    </td>
   
    <td  ng-hide="noedit" style="background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, white); /* Standard syntax (must be last) */
    " colspan=7>
    <div style="margin-top:10px; padding-bottom:10px;">
    
	<input style="float:left; margin-left:20px;text-align: left;border: 1px solid  #F1592A;border-radius:2px;border-color:#F1592A;margin-top:.5%;	width:25%; font-size:15px;height: 2%;padding-left: 5px; padding-top: 3px;padding-bottom: 3px;"     ng-model="editEvent.eventName" required="required" 	name="eventdescription"	ng-required="true"; type="text" placeholder="Event Description" />
								
    <input  style="font-family: 'FontAwesome';border-color:#F1592A;margin-top:.5%;border: 1px solid #F1592A;border-radius:2px;float: left;margin-left: 2%;  font-size:15px;height: 2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;	width:10%;" class="input-append date datepicker"   type="text"  datepicker-popup="yyyy-mm-dd"  required a-datepicker ng-model="editEvent.eventDate" placeholder="Date"/>
       
  
        
<select  style="  border: 1px solid #F1592A;border-radius:2px;  width:60px;font-size: 15px;    height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;" ng-model="hour" ng-options="r.hour for r in hours" placeholder='hr'><option value="" style="display: none;">{{hour}}</option></select>

                                                                                                                                                                                                                                            
<select style="  border: 1px solid #F1592A;border-radius:2px; width:60px; font-size: 15px;    height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;"   ng-model="min" ng-options="r.min for r in minutes" placeholder="mn"> <option value="" style="display: none;">{{min}}</option></select>
<select  style="  border: 1px solid #F1592A;border-radius:2px;  font-size: 15px;    height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;" ng-model="ampm" ng-options="currOption for currOption in ['am', 'pm']"><option value="" style="display: none;">{{ampm}}</option></select>
							
  <input id= save style="float:left;  margin-left:20px; padding-bottom:5px;	padding-top:5px;width:15%;"  ng-click="opened=false;editevent(editEvent.eventId)" id="login_button" type="submit" value="Save" /> 
        
  <input id=cancel style=" margin-left:10px;  padding-bottom:5px;padding-top:5px;width:15%;"   ng-click="noedit=true;opened=false;canceldialogue();" id="login_button" type="submit" value="Cancel" /> 
    							<br>	
    
    
 
                                      <ul  Style="list-style-type:none;float:left; width:60%;margin-left:-25px;margin-top:2%;">
                <li ng-repeat="elemnt in editEvent.participants"  style="float:left; margin-bottom:1%;" >
 
                    <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px;height: 2%; margin-right:0; padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    "  class="datatext"  ng-model="elemnt.name" name="username"	type="text" placeholder="Invitee Name" />
                               <!--  <input style="margin-left:2%;" type="text" ng-model="elemnt.inviteename" placeholder="Invitee Name"  type="text" /> -->
                        
                        
                     <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px; margin-left:.5%; height: 2%;padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;   padding: 3px 3px 3px 3px;      text-align: left;  " class="datatext"  ng-model="elemnt.email"
									type="text" placeholder="Email" />
                               
                            
                        
                     <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px; margin-left:.5%; height: 2%;padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;   padding: 3px 3px 3px 3px;      text-align: left;  " class="datatext"  ng-model="elemnt.phone" type="text" placeholder="Phone #" />
                               
                                                           
                        
                        
                        <span ng-hide="elemnt.length == 1">
                            <a href ng-click="editEvent.participants.splice($index, 1)"><img src="assets/images/icon_remove.png" style="width:20px;height:20px;margin-left:10px;"width="20px" height="20px"/></a>
                        </span>
                    
                    
                </li>
               <p style="float:left; color:red; margin-top:1%;margin-left:1%;"><a href ng-click="editnewItem($event)" style="color:rgb(240, 90, 40) ; font-size:15px" ><i class="fa fa-plus-circle" aria-hidden="true" style="color:rgb(240, 90, 40);"></i>  Add invitee</a></p>
            </ul>           
     
                        
    
    
    </div>
    </td>
   
   
   
   
   
   
   
   </tr>
   
  <tr ng-show="BindJsonDetails.events.length==null" ><td style="font-size:20px;color:#f47753;margin-top:5px;padding-top:20px;padding-bottom:20px;">
  
  <span ng-show="BindJsonDetails.events.length==null">No Events Scheduled</span></td></tr>
  
  
  
  </table>
  
  
  

  </div>
  
  
  
  </div>
  
  

        
        				
        				
        				
        				
 
  <div class=eventcontainer>
     <span class=heading>Future / Past Events</span><span class="badge" style="margin-top:8px;background-color:rgb(240, 90, 40);float:left;font-size:15px; margin-left:10px;">{{BindJsonDetailsfuture.events.length}}</span>
  
  
	            		
        <input  class="input-append date datepicker"  style="font-family: 'FontAwesome';font-size:15px;height: 21px;box-shadow:1px 1px 1px 1px rgba(176, 176, 176, 0.38);text-align: left;margin-left: 30%;	width:10%;" ng-init="FROM" type="text" b-datepicker ng-model="fromdate" placeholder="    From       &#xf073;" ng-disabled />
        <button style="display:none;height:45px; "type="button" class="btn" data-toggle="datepicker1"> <i class="glyphicon glyphicon-calendar"></i>
        </button>
        <label style="margin-left:.5%;"> <i style="color:gray;font-style:FontAwesome;" class="fa fa-long-arrow-right" aria-hidden="true"></i></label>
        <input  class="input-append date datepicker"  style="font-family: 'FontAwesome';font-size:15px;height: 21px;box-shadow:1px 1px 1px 1px rgba(176, 176, 176, 0.38);text-align: left;margin-left: .5%;	width:10%;" ng-init="FROM" type="text" c-datepicker ng-model="todate"  placeholder="   To             &#xf073;" ng-disabled />
        <button style="display:none; height:45px; "type="button" class="btn" data-toggle="datepicker2"> <i class="glyphicon glyphicon-calendar"></i>
        </button>
         <input  class="login_button" style=" color:white;font-style:sans-serif;  height: 21px;  font-size: 15px; font-weight:bold;  border:none; border-radius:2px;  	background: #f47753;margin-left:20px; width:10%;
     background-image: linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -o-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(244, 119, 83) 0%, rgb(244, 119, 83) 100%);
 
  
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*text-shadow: 0px -1px 0px rgba(0,0,0,.5);*/
    -webkit-box-shadow: 0px 2px 0px rgb(244, 119, 83);
    -moz-box-shadow: 0px 2px 0px rgb(244, 119, 83);
    box-shadow: 0px 2px 0px rgb(244, 119, 83);
    " ng-click="submitdates()" id="login_button" type="submit" value="Get Events" />
  <div class="eventlistcontainer">
   <table style="width:110%;height:100%;position:relative;margin-bottom:30%;cellpadding:10;margin-top:1%;"  >
  <tr Style="border-radius: 5px;">
    <th class=thead Style="text-align:left;border-top-left-radius:7px;width:35%;padding-left:2%;">Event Name</th>
    <th class=thead Style="width:10% ">Date</th> 
    <th class=thead Style="width:10%">Time</th>
    <th class=thead Style="width:10%">Type</th>
    <th class=thead Style="width:10%">owner</th>
    <th class=thead Style="width:10%">invitees</th>
    <th class=thead Style="border-top-right-radius:5px;width:20%">Actions</th>
  </tr>
  <tr  style="background-image: -moz-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(251,251,251) 0%, rgb(255,255,255) 100%);
  height: 50px;" ng-repeat="SecondChild in BindJsonDetailsfuture.events">
   <td ng-show="noedit" class=eventname ng-click=" invitees = invitees ? false : true" Style="cursor:pointer">{{SecondChild.eventName}}
    
    <div ng-show="invitees" style="font-weight:bold">
    Invitees
    <ul Style="list-style-type:none;">
    
    <li  ng-repeat="participants in SecondChild.participants" Style="color:gray;font-weight:normal">
    {{participants.name}}<i class="fa fa-envelope-o" aria-hidden="true" style="color:#f47753;margin-left:5px"></i>
    </li>
    </ul>
    </div>
    
    </td>
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventDate}}</td> 
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventTime}}</td>
    
    <td ng-show="noedit" class=eventInfoText><img src="assets/images/eventlogo_mneme.png" ng-if="SecondChild.eventType=='mneme'" height="25px" width="25px"/>
    <img  src="assets/images/eventlogo_google.png" ng-if="SecondChild.eventType=='gmail'"  height="20px" width="20px"/></td>
    <td ng-show="noedit" class=eventInfoText>{{SecondChild.eventOwner}}<i ng-show="SecondChild.eventOwner!='you'" class="fa fa-envelope-o" aria-hidden="true" style="color:#f47753;margin-left:5px"></i></td>
    <td ng-show="noedit"><span ng-show="SecondChild.participants.length" class=eventInfoText>{{SecondChild.participants.length}}</span><span class=noInvites ng-if="SecondChild.participants.length==null">None</span></td>
 <td ng-show="noedit">
 <div ng-show="SecondChild.editable==true">
    <a href   ng-click="noedit=false;getevent(SecondChild.eventId)"    ng-hide="opened"><i  class="fa fa-pencil" id=icon aria-hidden="true"></i></a>
    <a href ><i id=icon class="fa fa-files-o" aria-hidden="true"></i></a>
    <a href  ng-click="showinfopop(SecondChild.eventId)" ng-hide="opened"><i id=icon class="fa fa-trash-o" aria-hidden="true"></i></a>
 </div> 
    </td>
   
   
    <td  ng-hide="noedit"   colspan=7 style="background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffe4b2, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffe4b2, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffe4b2, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffe4b2, white); /* Standard syntax (must be last) */
    ">
    <div  style="margin-top:10px; padding-bottom:10px;   ">
    
	<input  style="float:left; margin-left:20px;text-align: left;border: 1px solid  #F1592A;border-radius:2px;border-color:#F1592A;margin-top:.5%;	width:25%; font-size:15px;height: 2%;padding-left: 5px; padding-top: 3px;padding-bottom: 3px;"   ng-model="editEvent.eventName" required="required" 	name="eventdescription"	ng-required="true"; type="text" placeholder="Event Description" />
								
    <input  style="font-family: 'FontAwesome';border-color:#F1592A;margin-top:.5%;border: 1px solid #F1592A;border-radius:2px;float: left;margin-left: 2%;  font-size:15px;height: 2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;	width:10%;" class="input-append date datepicker"   type="text"  datepicker-popup="yyyy-mm-dd"  required a-datepicker ng-model="editEvent.eventDate" placeholder="Date"/>
       
    <button style="display:none; height:45px; "type="button" class="btn" data-toggle="datepicker0">
        </button>
        
<select style="  border: 1px solid #F1592A;border-radius:2px;  font-size: 15px;  width:60px;  height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;" ng-model="hour" ng-options="r.hour for r in hours" placeholder='hr'><option value="" style="display: none;">{{hour}}</option></select>


<select style="  border: 1px solid #F1592A;border-radius:2px;  font-size: 15px; width:60px;   height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;"  ng-model="min" ng-options="r.min for r in minutes" placeholder="mn"> <option value="" style="display: none;">{{min}}</option></select>
<select  style="  border: 1px solid #F1592A;border-radius:2px;  font-size: 15px;    height: 2%; margin-top:.5%;  float:left; margin-left:2%;padding-left: 5px; padding-right:3px;padding-top: 3px;padding-bottom: 3px;" ng-model="ampm" ng-options="currOption for currOption in ['am', 'pm']"><option value="" style="display: none;">{{ampm}}</option></select>
							
  <input id= save style="float:left; width:15%; margin-left:20px; padding-bottom:5px;	padding-top:5px;"  ng-click="editevent(editEvent.eventId)  " id="login_button" type="submit" value="Save" /> 
        
  <input id=cancel style=" margin-left:5px;  padding-bottom:5px;padding-top:5px;width:15%;"    ng-click="noedit=true ;canceldialogue();" id="login_button" type="submit" value="Cancel" /> 
    							<br>	
    
    
 
                                      <ul  Style="list-style-type:none;float:left; width:60%;margin-left:-25px;margin-top:2%;">
                <li ng-repeat="elemnt in editEvent.participants"  style="float:left; margin-bottom:1%;"  >
 
                    <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px;height: 2%; margin-right:0; padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    " class="datatext"  ng-model="elemnt.name" name="username"	type="text" placeholder="Invitee Name" />
                               <!--  <input style="margin-left:2%;" type="text" ng-model="elemnt.inviteename" placeholder="Invitee Name"  type="text" /> -->
                        
                        
                     <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px;height: 2%; margin-right:0; padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    "  class="datatext"  ng-model="elemnt.email"
									type="text" placeholder="Email" />
                               
                            
                        
                     <input style=" border: 1px solid #F1592A;border-radius:2px; font-size:15px;height: 2%; margin-right:0; padding-top: 3px;padding-bottom: 3px; margin-left:0; width:30%;  padding: 3px 3px 3px 3px;      text-align: left;    "  class="datatext"  ng-model="elemnt.phone" type="text" placeholder="Phone #" />
                               
                                                           
                        
                        
                        <span ng-hide="elemnt.length == 1">
                            <a href ng-click="editEvent.participants.splice($index, 1)"><img src="assets/images/icon_remove.png" style="width:20px;height:20px;margin-left:10px;"width="20px" height="20px"/></a>
                        </span>
                    
                    
                </li>
               <p style="float:left; color:red; margin-top:1%;margin-left:1%;"><a style="color:rgb(240, 90, 40) ; font-size:15px" href ng-click="editnewItem($event)"><i class="fa fa-plus-circle" aria-hidden="true" style="color:rgb(240, 90, 40);"></i>  Add invitee</a></p>
            </ul>           
     
                        
    
    
    </div>
    </td>
   
   
   
   
   
   
   
   </tr>
   <tr ng-show="BindJsonDetailsfuture.events.length==null" style="float:center;"><td Style="font-size:20px;color:#f47753;margin-top:5px;padding-top:20px;padding-bottom:20px;">
  
  <span ng-show="BindJsonDetailsfuture.events.length==null">No Events Scheduled</span></td></tr>
  
  
  
  
  </table>
  
  </div>
  
  
  </div>
  
  </div>
  
	


<div id="popup3" ng-show="info3" >
	<div class="popup" style="width: 80%;left:10%;top:0;text-align:left;  ">
			<a class="close" ng-click="info3=false">&times;</a>
		
	
		<div class="content"  >
		
<H2 style="color:rgb(240, 90, 40)">Mneme Privacy Policy</H2>
Posted: October 4, 2016
<br><br>
Thanks for using Mneme application or visiting our website! This policy describes how we collect, use and handle your information when you use our websites, or use our Services. At Mneme, we are committed to protecting your privacy.
This Privacy Policy applies to our website (www.mnemeinc.com) all sites owned and operated by us (https://app.mnemeinc.com) and includes the website, all web pages, the web application, mobile application, blogs and any online, mobile, or wireless offering accessed via a computer, mobile device or any other technology. Besides providing the Services, as described in more detail later, we also collect information about users that chose to subscribe to us to get more information about our services. This policy applies affects all types of users: those that use our Services, those that visit our website and those who subscribe to us and all will be collectively referred as "users".
We may make changes to the Privacy Policy at any time and the latest version will have the date of the most recent update posted at the top of the Privacy Policy. We encourage you to stay informed of any changes we make that may affect you by visiting our Privacy Policy from time to time.
Mneme does not share your personal information with anyone, unless required by law.

<h3 style="color:rgb(240, 90, 40)">Mneme Subscribers</h3>
From Mneme subscribers, we collect the following information &#45 email, business type and size. And this information is used solely for the purpose of understanding how you could benefit from our services and how best we can help you get set up if you chose to use our services

<h3 style="color:rgb(240, 90, 40)">Mneme Users</h3>
From users that sign up to use our Services, we collect the following information &#45 name, email, phone number, Google and FB login credentials, if you chose to use Google or Facebook.

<h3 style="color:rgb(240, 90, 40)">Mneme Services</h3>
When you use our Services, we store, process and transmit information about your appointments and any data associated with it, such as date, time, invitee e-mail addresses and/or phone numbers. 

<h3 style="color:rgb(240, 90, 40)">Cookies and other technologies</h3>
We use technologies, like cookies, to provide a better customer experience. 

<h3 style="color:rgb(240, 90, 40)">Data Sharing</h3>
We do not share your information with any 3rd party applications.

<h3 style="color:rgb(240, 90, 40)">Legal</h3>
We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Mneme or our users; or (d) protect Mneme's property rights.
We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by the following when receiving, scrutinizing and responding to government requests (including national security requests) for our users' data:
<li>Be transparent </li>
<li>Fight blanket requests </li>
<li>Protect all users </li>
<li>Provide trusted services </li>


<h3 style="color:rgb(240, 90, 40)">Security</h3>
We are dedicated to keeping your information secure. We make sure that we are using secure communication technologies such as HTTPS, and firewall to protect any from external hacking.

<h3 style="color:rgb(240, 90, 40)">Retention</h3>
We'll retain information you store on our Services for as long as we need it to provide you the Services. You can access your personal information by logging into your Mneme account.  

<h3 style="color:rgb(240, 90, 40)">Where</h3>
To provide you with the Services, we may store, process and transmit information in the United States and locations around the world - including those outside your country. Information may also be stored locally on the devices you use to access the Services.

<h3 style="color:rgb(240, 90, 40)">Contact</h3>
Have questions or concerns about Mneme, our Services and privacy? Contact us at <b>info@mnemeinc.com.</b>
		</div>
	</div>
</div>

	
	<div class="overlay" ng-show="info4" >

<div id="popup2" ng-show="info4"  >
	<div class="popup" style="top:15%">
			<a class="close" ng-click="info4=false">&times;</a>
		
	<h3 style="margin-top:10px;color:rgb(240, 90, 40)">Contact Us</h3>
	<br>
		<div class="content">
		
		We would love to hear from you!<br><br>

Please send an email to info@mnemeinc.com and a Mneme representative will contact you.
		</div>
	</div>
</div>
</div>
 
 
 <div class="overlay" ng-show="success">

<div id="popup1"  ng-show="success">
	<div class="popup" style="color:green">
		<a class="close"  ng-click="success=false">&times;</a>
		<h2>Success</h2>
		<br>
		
		<div class="content">
			{{success}}
		</div>
	</div>
</div>

</div>
 
 
 
<div class="overlay" ng-show="c_success">

<div id="popup1" style="top:100px;" ng-show="c_success">
	<div class="popup" style="color:green;top:200px;">
		<a class="close"  ng-click="c_success=false">&times;</a>
		<h2>Success</h2>
		<br>
		
		<div class="content">
			{{c_success}}
		</div>
	</div>
</div>

</div>
<div class="overlay" ng-show="c_error" >

<div id="popup2" style="top:100px;" ng-show="c_error">
	<div class="popup" style="color:red;top:200px;">
			<a class="close" ng-click="c_error=false">&times;</a>
		<h2>Error</h2>
		<br>
	
		<div class="content">
			{{c_error}}
		</div>
	</div>
</div>
</div>


<div class="overlay" ng-show="info">

<div id="popup1"  ng-show="info">
	<div class="popup" style="color:blue; width: 40%;  height:18%;">
		<a class="close"  ng-click="info=false">&times;</a>
		<h2>Confirmation</h2>
	
		
		<div class="content">
			Click Yes to delete event permanently
			<br>
			<br>
			<input  type="button" value="YES" style="width:50px;height:35px"ng-click="deleteevent(currentevent)"/>
			<input  type="button" value="NO"  style="width:50px;height:35px;margin-left:20px" ng-click="info=false"/>
		</div>
	</div>
</div>

</div>





<div class="overlay" ng-show="error" >

<div id="popup2" ng-show="error">
	<div class="popup" style="color:red">
			<a class="close" ng-click="error=false">&times;</a>
		<h2>Error</h2>
		<br>
	
		<div class="content">
			{{error}}
		</div>
	</div>
</div>
</div>

<footer >
		<div id=footer>
			<div class=footerleft>
				<div><a href="" ng-click="mnemepolicy()">Privacy Policy  </a></div>
			<div><a href="" ng-click="mnemecontact()"> Contact Us </a></div>
			</div>
			<div class="navbar-text pull-right">
				<a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-share-square-o fa-2x"  aria-hidden="true"></i> </a>
			</div>
			<span class="copyright">&copy; 2016 Mneme, Inc. All Rights Reserved.</span>
		 </div>
	 </footer>    
 