<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 
 <meta name="viewport" content="width=1366px,height=768px initial-scale=1">
<title>Mneme</title>
 <link rel="stylesheet" type="text/css" href="assets/css/newcss/footer-page.css" />
 <link rel="stylesheet" type="text/css" href="assets/css/newcss/login-signup.css" />
   <script src= "assets/js/angular.min.js"></script>
   <script src= "assets/js/ngStorage.min.js"></script>
    <script type="text/javascript" src="assets/js/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/js/controller/main.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="assets/css/font-awesome.css" rel="stylesheet" media="screen">
   <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script type="text/javascript" src="assets/js/controller/LoginCrtl1.js"></script>
<script>
var viewport = document.createElement("meta");
viewport.setAttribute('name', 'viewport');
viewport.setAttribute('content', 'width=1170, initial-scale=1');
document.getElementsByTagName('head')[0].appendChild(viewport);</script>
   
</head>
 
 
<body  ng-app="LoginApp" ng-controller="LoginCtrl1" >


<ul class="topnav" style=" overflow:hidden;" >
  <li><a href="#home">What is Mneme?</a></li>
  <li><a href="#news">How does it work?</a></li>
</ul>  
<br>
<br>
<div Style="width:1170px">
<div class=logincontainer style="margin-top:2%;width:25%;margin-bottom:5%">
  <img src="assets/images/logotop.png"  alt="Mneme" /> <br><br>
<div class="maincontainer">
	 <br><p>	Sign into your account</p>		


<div id="success" style=" position:relative;padding-left:10px;margin-left:3%; margin-right:3%;margin-top:2%;font-size:12px;text-align:center" ng-show="success" class="alert alert-success fsize16"
										ng-cloak>
									 <img  id="flag" src="assets/images/ribbonSuccess.png"  alt="Mneme" /> <br><br>	
										<span Style="margin-left:15px;">{{success}}</span>  
									</div>
                         <div id="error" style="padding-top:0;position:relative;margin-left:2%;margin-right:3%;margin-bottom:0px;font-size:12px;text-align:center" ng-show="error"
										class="alert alert-danger fsize16" ng-cloak>
										 <img id="flag" src="assets/images/ribbonError.png"  alt="Mneme" /> <br><br>
										<span Style="margin-left:15px;">{{error}}</span>
									</div>	



<form class="form-1" style="margin-top:10px" >
	<p class="field">
		<input id="username"  ng-model="user.login"  name="username" required="required" type="text" placeholder="E-mail"><br>
        <i class="fa fa-envelope" aria-hidden="true"></i>

	</p>
	<p class="field">
        <input id="password"  ng-model="user.password"  name="password" required="required" type="password" placeholder="Password"><br>
        <i class="fa fa-lock" aria-hidden="true"></i>
    </p>

    
    <div  style="text-align:left ; margin-left:30px; " >
  <input id="box1" type="checkbox" />
  <label style="font-weight:normal; font-size:15px;
  font-family: sans-serif;" for="box1">Remember me</label>
  </div>
  
  
    <div   class="login_button" style="font-style: sans-serif;" > 
       <p class="field1">          
                        
    <input style="font-style: sans-serif;" ng-click="submit()" type="submit" id="login_button" value="Sign In" /> 
   
   <i id="submit" style=" left: 100px;" class="fa fa-play-circle" aria-hidden="true"></i>
   </p>
   </div>
   
     <p class="link"> <a href="#/forgort"><u>Forgot Username or Password?</u></a></p>
     
     <div id="gSignInWrapper">
     <div id="customBtn" style="font-style: sans-serif;" >
      Sign in with Google
      <img src="assets/images/google.png"  alt="Mneme" /> <br><br>
    </div>
   </div>
      
     </form> 
	 


    
 
  
</div>
<br>
<p style="font-size:15px ;  font-style: sans-serif;">Don't have an account? <a href="./register.html" style="text-decoration:none;margin-left:10px ;font-weight:bold;color:#585858;">Sign up!</a></p>  



 </div>

</div>

<footer>


<div class=footerleft>

<div><a href="policy.html">Privacy Policy  </a></div>
<div><a href="contact.html"> Contact Us </a></div>

</div>

<div class="navbar-text pull-right">
<a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-share-square-o fa-2x"  aria-hidden="true"></i> </a>
</div>


<span class="copyright">&copy; 2016 Mneme, Inc. All Rights Reserved.</span>
 </footer>
 
</body>

</html>