<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mneme</title>
		<link rel="shortcut icon" href="assets/images/eventlogo_mneme.png">

		<link rel="stylesheet" type="text/css" href="assets/css/newcss/footer-page.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/newcss/login-signup.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/newcss/reminder-channel.css" />

		<script src= "assets/js/angular.min.js"></script>
		<script src= "assets/js/ngStorage.min.js"></script>
		<script type="text/javascript" src="assets/js/angular-route.min.js"></script>
		<script type="text/javascript" src="assets/js/controller/main.js"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="assets/css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		  
		  
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

		<script src="https://apis.google.com/js/api:client.js"></script>
		<script type="text/javascript" src="assets/js/controller/RegisterCrtl1.js"></script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="assets/css/font-awesome.css" rel="stylesheet" media="screen">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">

		<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>  		
		<!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>

		<link rel="stylesheet" href="assets/css/bootstrap1.css">
		    
		<style>
			.footer, .push {
		  		height: 50px;
			}
		</style>
	    
	</head>

	<body  ng-app="RegisterApp" ng-controller="RegisterCtrl1">
	
		<ul class="topnav" id="myTopnav">
			<li><a href="" ng-click="wtsmneme()">What is Mneme?</a></li>
			 <li><a href="" ng-click="mnemeworks()">How does it work?</a></li>
		</ul>

		<div Style="min-height:100%;over-flow:auto;height:auto;">
			<div class=logincontainer style="width:20%;margin-bottom:3%;position:relative;margin-top:.5%">
	 			<img src="assets/images/logotop.png"  alt="Mneme" /> <br><br>
				<div class="maincontainer">
	 				<br>
	 				<p>Sign up!</p>		
	
					<div id="success" style=" position:relative;padding-left:10px;margin-left:3%; margin-right:3%;margin-top:2%;font-size:12px;text-align:center" ng-show="success" class="alert alert-success fsize16" ng-cloak>
						<img  id="flag" src="assets/images/ribbonSuccess.png"  alt="Mneme" /> <br>	
						<span Style="margin-left:18px;">{{success}}</span>  
					</div>
	                   <div id="error" style="padding-top:0;position:relative;margin-left:2%;margin-right:3%;margin-bottom:0px;font-size:12px;text-align:center" ng-show="error" class="alert alert-danger fsize16" ng-cloak>
						<img id="flag" src="assets/images/ribbonError.png"  alt="Mneme" /> <br>
						<span Style="margin-left:22px;">{{error}}</span>
					</div>
							
					<form class="form-1" style="margin-top:10px">
						<p class="field" >
							<input Style="padding-left: 5px;" id="username"   ng-model="user.name"  name="username" required="required" type="text" placeholder="FullName*" Style="height:30px">
	                       </p>
					    <p class="field" >
							<input Style="padding-left:5px;"id="email"  ng-change="Useravailability();" ng-model="user.email"  name="useremail" required="required" type="text" placeholder="Email*" Style="height:30px">
	
	  							<br ng-show="show">  
	  							<span style="color:red ;font-size:12px;font-style: sans-serif;" ng-show="show" >User Email already used, try other..!</span>
	  							<br>
							<span style="color:green;font-size:12px;font-style: sans-serif;" ng-show="show1" >User Email is available.. Proceed with password..</span>
						</p>
	   					<p class="field" >
	    						<input Style="padding-left:5px;"id="password"  ng-model="user.password"  name="password" required="required" type="password" placeholder="Create Password*" Style="height:30px">
	    						<br>
						<p class="field" >
							<input Style="padding-left: 5px;"id="password"  ng-model="user.repassword"  name="repassword" required="required" type="password" placeholder="Confirm Password*" Style="height:30px">
							<br>
	                      	</p>
	
						<div style="margin-left:10%;" class="g-recaptcha" id="rcaptcha" data-size=normal data-sitekey="6LdvuiYTAAAAAMGJa4MPzbgQX3qd4fSa4ZAArBOf">
						</div>
					
					 	<div class="login_button" Style="margin-top:5px"> 
	      						<p class="field1">                           
	   							<input ng-click="SubmitForm()" type="submit" id="login_button" value="Sign Up!" /> 
	  								<i id="submit" class="fa fa-play-circle" style=" left: 85px;"aria-hidden="true"></i>
							</p>
	  						</div>
	
					    <div id="gSignInWrapper">
							<div id="customBtn">
								Sign up with Google
	     							<img src="assets/images/google.png"  alt="Mneme" /> 
	     							<br><br>
	   						</div>
	  						</div>
					</form>
				</div>
				<br>
	 			<p style="font-size:15px ;  font-style: sans-serif;">Existing User? 
	 				<a href="./login.html" style="text-decoration:none;margin-left:10px ;font-weight:bold;color:#585858");gnup" >Sign In</a>
	 			</p>
	 		</div>
	 	</div>


		<div class="dim" ng-show="info1" ng-cloak>
			<div id="popup2" ng-show="info1" >
				<div class="popup" style="top:15%;width:40%;left:30%" >
					<a class="close" ng-click="info1=false">&times;</a>
					<h3 style="margin-top:10px;color:rgb(240, 90, 40);">What is Mneme?</h3>
					<br>
					<div class="content" style="text-align:left">
						<ul style="text-align: left;">
							<li style="margin-bottom: 10px;">Mneme is a revolutionary approach to sending reminders. </li>
							<li style="margin-bottom: 10px;">Mneme’s Reminder Application is a messaging platform that enables individuals to control how, when and how often they need reminders for important events.</li>
							<li style="margin-bottom: 10px;">Mneme’s application easily connects with business appointment systems and extracts information almost in real time and send reminders based on customer preferences.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="dim" ng-show="info2" ng-cloak>
			<div id="popup2" ng-show="info2" >
				<div class="popup" style="top:15%;width:40%;left:30%">
					<a class="close" ng-click="info2=false">&times;</a>
					<h3 style="margin-top:10px;color:rgb(240, 90, 40);">How does Mneme work?</h3>
					<br>
					<div class="content" style="text-align: left;">
						<p>Mneme is very simple to set up and use. All you need to do follow the following simple steps and you are ready to send and receive reminders for your events:</p>	
						<ol style="text-align: left;">
							<li style="margin-bottom: 10px;">Set up an account. </li>
							<li style="margin-bottom: 10px;">Select channels that you would like receive reminders on.</li>
							<li style="margin-bottom: 10px;">Set up your reminder preferences.</li>
						</ol>
						<p>You may use Mneme’s easyEvent Management function to setup events or link your Google calendar for managing events.
			
			And that’s all you need to do to start getting reminders for all events you create or any other Mneme user/business creates and invites you to it.</p>
					</div>
				</div>
			</div>
		</div>




		<div class=policy ng-show="info3" ng-cloak>
		<div id="popup3" ng-show="info3" >
			<div class="popup" style="width: 80%;left:10%;top:0;text-align:left;  ">
					<a class="close" ng-click="info3=false">&times;</a>
				
			
				<div class="content"  >
				
		<H2 style="color:rgb(240, 90, 40)">Mneme Privacy Policy</H2>
		Posted: October 4, 2016
		<br><br>
		Thanks for using Mneme application or visiting our website! This policy describes how we collect, use and handle your information when you use our websites, or use our Services. At Mneme, we are committed to protecting your privacy.
		This Privacy Policy applies to our website (www.mnemeinc.com) all sites owned and operated by us (https://app.mnemeinc.com) and includes the website, all web pages, the web application, mobile application, blogs and any online, mobile, or wireless offering accessed via a computer, mobile device or any other technology. Besides providing the Services, as described in more detail later, we also collect information about users that chose to subscribe to us to get more information about our services. This policy applies affects all types of users: those that use our Services, those that visit our website and those who subscribe to us and all will be collectively referred as "users".
		We may make changes to the Privacy Policy at any time and the latest version will have the date of the most recent update posted at the top of the Privacy Policy. We encourage you to stay informed of any changes we make that may affect you by visiting our Privacy Policy from time to time.
		Mneme does not share your personal information with anyone, unless required by law.
		
		<h3 style="color:rgb(240, 90, 40)">Mneme Subscribers</h3>
		From Mneme subscribers, we collect the following information – email, business type and size. And this information is used solely for the purpose of understanding how you could benefit from our services and how best we can help you get set up if you chose to use our services
		
		<h3 style="color:rgb(240, 90, 40)">Mneme Users</h3>
		From users that sign up to use our Services, we collect the following information – name, email, phone number, Google and FB login credentials, if you chose to use Google or Facebook.
		
		<h3 style="color:rgb(240, 90, 40)">Mneme Services</h3>
		When you use our Services, we store, process and transmit information about your appointments and any data associated with it, such as date, time, invitee e-mail addresses and/or phone numbers. 
		
		<h3 style="color:rgb(240, 90, 40)">Cookies and other technologies</h3>
		We use technologies, like cookies, to provide a better customer experience. 
		
		<h3 style="color:rgb(240, 90, 40)">Data Sharing</h3>
		We do not share your information with any 3rd party applications.
		
		<h3 style="color:rgb(240, 90, 40)">Legal</h3>
		We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Mneme or our users; or (d) protect Mneme's property rights.
		We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by the following when receiving, scrutinizing and responding to government requests (including national security requests) for our users' data:
		<li>Be transparent </li>
		<li>Fight blanket requests </li>
		<li>Protect all users </li>
		<li>Provide trusted services </li>
		
		
		<h3 style="color:rgb(240, 90, 40)">Security</h3>
		We are dedicated to keeping your information secure. We make sure that we are using secure communication technologies such as HTTPS, and firewall to protect any from external hacking.
		
		<h3 style="color:rgb(240, 90, 40)">Retention</h3>
		We'll retain information you store on our Services for as long as we need it to provide you the Services. You can access your personal information by logging into your Mneme account.  
		
		<h3 style="color:rgb(240, 90, 40)">Where</h3>
		To provide you with the Services, we may store, process and transmit information in the United States and locations around the world - including those outside your country. Information may also be stored locally on the devices you use to access the Services.
		
		<h3 style="color:rgb(240, 90, 40)">Contact</h3>
		Have questions or concerns about Mneme, our Services and privacy? Contact us at <b>info@mnemeinc.com.</b>
				</div>
			</div>
		</div>
		</div>

	
		<div class="dim" ng-show="info4" ng-cloak>
			<div id="popup2" ng-show="info4" >
				<div class="popup" style="left:33%" >
					<a class="close" ng-click="info4=false">&times;</a>
					<h3 style="margin-top:10px;color:rgb(240, 90, 40)">Contact Us</h3>
					<br>
					<div class="content">
		
						We would love to hear from you!<br><br>

						Please send an email to info@mnemeinc.com and a Mneme representative will contact you.
					</div>
				</div>
			</div>
		</div>
	
	 </body>	




	<footer>
		<div class=footerleft>
			<div><a href="" ng-click="mnemepolicy()">Privacy Policy  </a></div>
			<div><a href="" ng-click="mnemecontact()">Contact Us </a></div>
		</div>
		
		<div class="navbar-text pull-right">
			<a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-share-square-o fa-2x"  aria-hidden="true"></i> </a>
		</div>
		
		
		<span class="copyright">&copy; 2016 Mneme, Inc. All Rights Reserved.</span>
	</footer>

</html>