
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
 <link rel="stylesheet" href="assets/css/font-awesome.css">  
  <link rel="stylesheet" href="assets/css/layout.css">  
 <link rel="stylesheet" href="assets/css/newcss/footer-page.css">
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
  
 
   
 <header  style="padding:0" id="topNav" class="topHead" ><!-- remove class="topHead" if no topHead used! -->
			<div id="header_containder" class="container_header" style="margin-right:11.5%;">

				<!-- Mobile Menu Button -->
				<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Logo text or image -->
				<a class="logo" href="/#">
					<img src="assets/images/logotop.png" alt="Mneme" style="height:50px;" />
				</a>

				<!-- Top Nav -->
				<div  class="navbar-collapse nav-main-collapse collapse pull-right">
					<nav class="nav-main mega-menu">
						<ul style="background-color:#ffffff"  class="nav nav-pills nav-main scroll-menu" id="topMain">
							
				<li id="myli"   class="dropdown" ng-class="homeActive"><a id="Homelink" href="#/event"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Events</b>
				</a></li>
				<li id="myli" class="dropdown" ng-class="homeActive"><a id="Homelink" href="#/channels"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Channels</b>
				</a></li>
				<li id="myli" class="dropdown" ng-class="homeActive"><a id="current" href="#/reminder"
					class="dropdown-toggle"  ng-click="menuClick('home')">
						<b id="Commlink">Reminders</b>
				</a></li>
				<li id="myli" class="dropdown mega-menu-item mega-menu-two-columns" ng-class="whatActive" id="Reminderlink"><a class="dropdown-toggle" ng-click="menuClick('what')"> <b id="Remlink">
					<img src="assets/images/icon_profile.png" style="width:25px;height:25px;margin-right:10px;"width="20px" height="20px"/>{{username}}
					
				</a>
						</b>
					
       <ul style="  min-width:120px; font-size:16px; padding-top:0px;  border: 1px solid;  border-radius:2px;border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;   border-color: black;    box-sizing: content-box;  background-color: white;" class="dropdown-menu" role="menu" aria-labelledby="menu1">
     <div id="arrowup" class="arrow up"></div>
      <li id="myli1" role="presentation"><a role="menuitem" tabindex="-1" href="#/user"><i class="fa fa-cog" aria-hidden="true"></i> Profile Settings</a></li>
      <li id="myli2" role="presentation"  ng-class="signupActive"><a role="menuitem" tabindex="-1" style="cursor:pointer" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
				</ul>
				</li></ul>
					</nav>
				</div>
				<!-- /Top Nav -->

			</div>
		</header>
  
   
<div Style="width:1170px;min-height:100%;over-flow:auto;height:auto;margin-left:13%">   
 
  
  
  <div class=logincontainer  style="height:10%; margin-top:5% ;left:2%;position:relative;">
 <span style="float:left;margin-top:15px;font-size: 30px; font-style: sans-serif;; color: rgb(46, 54, 63); ">Your Reminders</span>
 <br><br><br>
 
 <p style="float:left;font-size: 14px; font-style: sans-serif;; color: rgb(46, 54, 63); ">
Tell us how and when you would like to receive event reminders.
 </p>
 
 
 
  </div>
  
  
  

  
  <div class=logincontainer style="width:600px;min-height:30%; max-height:80%; top:150% ;left:29%;float:left;text-align:left;">
   
 <div class="remindercontainer"   style="float:left; height:400px; overflow:auto;">
 <div id="success" style=" position:relative;margin-left:2%;margin-top:2%;font-size:12px;text-align:center" ng-show="success" class="alert alert-success fsize16"
										ng-cloak>
										
										<img  id="flag" src="assets/images/ribbonSuccess.png"  alt="Mneme" /> 
										<span Style="margin-left:45px;">{{success}}</span>  
									</div>
                         <div id="error" style="position:relative;margin-left:2%; margin-bottom:0px;font-size:12px;text-align:center" ng-show="error"
										class="alert alert-danger fsize16" ng-cloak>
										 <img id="flag" src="assets/images/ribbonError.png"  alt="Mneme" /> 
										<span Style="margin-left:45px;">{{error}}</span>
									
									</div>	
          <div style="margin-right:2%;" >
                   <ul  class=reminderlist style="float:left;margin-left:-20px;position:relative;margin-bottom:0px;">
                   <li style="margin-top:20px;border-spacing: 20px;  " ng-repeat="elemnt in Prefelement.reminderPreferences"  >
                   
                               <div>
                               Send
                        <div id={{elemnt.id}} style="display:inline" >
                      
                        <div class="reminderdiv" style="margin-left:2%"  >
                      
                  
                  
                       
                        <select style="padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;border-radius:3px;" ng-init="elemnt.channelType" ng-model="elemnt.channelType" ng-options="ch for ch in channels"> 
                      
                      <!--  data-bind="options: choices, value: selectedChoice"--> 
                       
                        <option value="" style="display: none;">   {{elemnt.channelType }}
                        </option>
                        </select>
                        </div>
                        
                      <div class="reminderdiv" style="margin-left:2%">
                      <span>
                        <input type="number" min="1" max="100" value="1" style="margin-left:0; width:10%; height:32px; border-radius:3px; padding-top:5px;padding-bottom:5px; padding-left:5px;    text-align: left;" ng-model="elemnt.reminderNumber" >
                        </span>
                     
                      </div>
                      
                            
                      
                      
                      
                        <div class="reminderdiv" style="margin-left:2%">

                        <select style="padding-top:5px;padding-bottom:5px;padding-left:15px;border-radius:3px;" ng-init="elemnt.reminderType" ng-model="elemnt.reminderType" ng-options="u for u in units">
                        <option value="" style="display: none;">{{elemnt.reminderType}}</option>
                        </select>
                        
                                              
                        <span  style="margin-left:10px;margin-bottom:1px;font-weight:bold;">
                            before event
                            <a href ng-click="Prefelement.reminderPreferences.splice($index, 1)"><img src="assets/images/icon_remove.png" style="width:20px;height:20px;margin-left:10px;display:inline;"width="20px" height="20px"/></a>
                        </span>
                                             
                                            
                        </div>   
                         
                        
                        
                        
                    </div>
                    
  <hr Style="margin-top:15px;margin-bottom:15px;margin-left:1%; width:550px;">
                   </li>
                   



                                    
                   
                   <li style="margin-top: 3%;margin-left:3%;position:absolute;">
                    <i class="fa fa-plus-circle" aria-hidden="true"  style="color:#F1592A"></i><a style="margin-left:2px;color:#F1592A ; font-size:15px" href ng-click="newItem($event)" ng-show="showpref_link">Add Reminders</a>
                </li>
            </ul>
                 
                                                   
            
                        </div>
                        <br>
                       
         </div>
         
         
            <div class="login button" Style="float:right;height:20%;width:50%;position:relative;margin-top:70%;margin-bottom:5%;margin-left:4%; "> 
                                    <input id=save ng-click="submitForm()" id="login_button" type="submit" value="Save" />
           
                                     <input id=cancel ng-click="submitCancel()" id="login_button" type="submit" value="Cancel" /> 
            
        
        </div>      
             
         
         
         
         
       </div>
          
          
          
         
               </div>
               
               
               
               
<div class=policy ng-show="info3">
<div id="popup3" ng-show="info3">
	<div class="popup" style="width: 80%;left:10%;top:0;text-align:left;  justify-content:center; ">
			<a class="close" ng-click="info3=false">&times;</a>
		
	
		<div class="content" style=" text-justify:auto;" >
		
<H2 style="color:rgb(240, 90, 40)">Mneme Privacy Policy</H2>
Posted: October 4, 2016
<br><br>
Thanks for using Mneme application or visiting our website! This policy describes how we collect, use and handle your information when you use our websites, or use our Services. At Mneme, we are committed to protecting your privacy.
This Privacy Policy applies to our website (www.mnemeinc.com) all sites owned and operated by us (https://app.mnemeinc.com) and includes the website, all web pages, the web application, mobile application, blogs and any online, mobile, or wireless offering accessed via a computer, mobile device or any other technology. Besides providing the Services, as described in more detail later, we also collect information about users that chose to subscribe to us to get more information about our services. This policy applies affects all types of users: those that use our Services, those that visit our website and those who subscribe to us and all will be collectively referred as "users".
We may make changes to the Privacy Policy at any time and the latest version will have the date of the most recent update posted at the top of the Privacy Policy. We encourage you to stay informed of any changes we make that may affect you by visiting our Privacy Policy from time to time.
Mneme does not share your personal information with anyone, unless required by law.

<h3 style="color:rgb(240, 90, 40)">Mneme Subscribers</h3>
From Mneme subscribers, we collect the following information &#45 email, business type and size. And this information is used solely for the purpose of understanding how you could benefit from our services and how best we can help you get set up if you chose to use our services

<h3 style="color:rgb(240, 90, 40)">Mneme Users</h3>
From users that sign up to use our Services, we collect the following information &#45 name, email, phone number, Google and FB login credentials, if you chose to use Google or Facebook.

<h3 style="color:rgb(240, 90, 40)">Mneme Services</h3>
When you use our Services, we store, process and transmit information about your appointments and any data associated with it, such as date, time, invitee e-mail addresses and/or phone numbers. 

<h3 style="color:rgb(240, 90, 40)">Cookies and other technologies</h3>
We use technologies, like cookies, to provide a better customer experience. 

<h3 style="color:rgb(240, 90, 40)">Data Sharing</h3>
We do not share your information with any 3rd party applications.

<h3 style="color:rgb(240, 90, 40)">Legal</h3>
We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Mneme or our users; or (d) protect Mneme's property rights.
We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by the following when receiving, scrutinizing and responding to government requests (including national security requests) for our users' data:
<li>Be transparent </li>
<li>Fight blanket requests </li>
<li>Protect all users </li>
<li>Provide trusted services </li>


<h3 style="color:rgb(240, 90, 40)">Security</h3>
We are dedicated to keeping your information secure. We make sure that we are using secure communication technologies such as HTTPS, and firewall to protect any from external hacking.

<h3 style="color:rgb(240, 90, 40)">Retention</h3>
We'll retain information you store on our Services for as long as we need it to provide you the Services. You can access your personal information by logging into your Mneme account.  

<h3 style="color:rgb(240, 90, 40)">Where</h3>
To provide you with the Services, we may store, process and transmit information in the United States and locations around the world - including those outside your country. Information may also be stored locally on the devices you use to access the Services.

<h3 style="color:rgb(240, 90, 40)">Contact</h3>
Have questions or concerns about Mneme, our Services and privacy? Contact us at <b>info@mnemeinc.com.</b>
		</div>
	</div>
</div>
</div>



<div class="dim" ng-show="info4" >

<div id="popup2" ng-show="info4" >
	<div class="popup" >
			<a class="close" ng-click="info4=false">&times;</a>
		
	<h3 style="margin-top:10px;color:rgb(240, 90, 40)">Contact Us</h3>
	<br>
		<div class="content">
		
		We would love to hear from you!<br><br>

Please send an email to info@mnemeinc.com and a Mneme representative will contact you.
		</div>
	</div>
</div>
</div>

               
               
   <footer >
		<div id=footer>
			<div class=footerleft>
				<div><a href="" ng-click="mnemepolicy()">Privacy Policy  </a></div>
			<div><a href="" ng-click="mnemecontact()"> Contact Us </a></div>
			</div>
			<div class="navbar-text pull-right">
				<a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-share-square-o fa-2x"  aria-hidden="true"></i> </a>
			</div>
			<span class="copyright">&copy; 2016 Mneme, Inc. All Rights Reserved.</span>
		 </div>
	 </footer>                