
<ul class="topnav" id="myTopnav">
  <li><a href="#home">What is Mneme?</a></li>
  <li><a href="#news">How does it work?</a></li>
  
</ul>


<div class=logincontainer style="top:5%">
 <img src="assets/images/logotop.png"  alt="Mneme" /> <br><br>
<div class="maincontainer">

 <br><p>	Sign up!</p>		

<div style="margin-left:2%;margin-top:2%;font-size:12px;text-align:center" ng-show="success" class="alert alert-success fsize16"
										ng-cloak>
										
										{{success}}  
									</div>
                         <div style="margin-left:2%; margin-bottom:0px;font-size:12px;text-align:center" ng-show="error"
										class="alert alert-danger fsize16" ng-cloak>
										
										{{error}}
									</div>			
<form class="form-1">
	<p class="field" >
<input Style="padding: 10px 18px 10px 5px;" id="username"   ng-model="user.name"  name="username" required="required" type="text" placeholder="FullName*" Style="height:30px">
                               
  </p>
     <p class="field" >
<input Style="padding: 10px 18px 10px 5px;"id="email"  ng-change="Useravailability()" ng-model="user.email"  name="useremail" required="required" type="text" placeholder="Email*" Style="height:30px">
 
   <br ng-show="show">  <span style="color:red ;font-size:12px;font-family: Open Sans" ng-show="show" >User Email already used, try other..!
  </span><br>
  <span  style="color:green;font-size:12px;font-family: Open Sans" ng-show="show1" >User Email is available.. Proceed with password..
  </span>
 
    
    </p>
    <p class="field" >
     <input Style="padding: 10px 18px 10px 5px;"id="password"  ng-model="user.password"  name="password" required="required" type="password" placeholder="Create Password*" Style="height:30px"><br>
<p class="field" >
<input Style="padding: 10px 18px 10px 5px;"id="password"  ng-model="user.repassword"  name="repassword" required="required" type="password" placeholder="Confirm Password*" Style="height:30px"><br>
                       
  </p>

<div class="g-recaptcha" id="rcaptcha"
				 
				data-sitekey="6LdvuiYTAAAAAMGJa4MPzbgQX3qd4fSa4ZAArBOf"
					style="margin-left:9%; weidth:20px">
					</div>
					
					 <div   class="login_button" Style="margin-top:5px"> 
       <p class="field1">                           
    <input ng-click="SubmitForm()" type="submit" id="login_button" value="Sign Up!" /> 
   
   <i id="submit" class="fa fa-play-circle" style=" left: 75px;"aria-hidden="true"></i>
   </p>
   </div>
    <div id="gSignInWrapper">
     <div id="customBtn"  >
      Sign up with Google
      <img src="assets/images/google.png"  alt="Mneme" /> <br><br>
    </div>
   </div>
</form>
  
      
</div>
<br>
 <p style="font-size:20px ;  font-family: Open Sans;">Existing User? <a href="./login.html" style="text-decoration:none;margin-left:10px ;font-weight:bold;color:#585858");gnup" >Sign In</a></p>
 </div>
 
